
@import "http://fonts.googleapis.com/css?family=Raleway:400,700,500";
body {
    background: #fff none repeat scroll 0 0;
    color: #282828;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    line-height: 26px;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway",sans-serif;
    font-weight: 600;
}
a {
    color: #45aed6;
    transition: color 400ms ease 0s, background-color 400ms ease 0s;
}
a:hover, a:focus {
    color: #d3af02;
    text-decoration: none;
}
hr {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #e5e5e5;
}
.gradiant {
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
    background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
    margin-bottom: 50px;
}
.section-header p {
    color: #000000;
    text-align: center;
}
.section-header .section-title {
    color: #3a3a3a;
    display: block;
    font-size: 44px;
    margin: 0 0 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
.section-header .section-title::before {
    bottom: 4px;
    color: #ffffff;
    content: "-----< o >----";
    font-size: 15px;
    font-weight: bolder;
    height: 8px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}
.btn {
    border-radius: 0;
    border-width: 0;
}
.btn.btn-primary {
    background: #2d930a none repeat scroll 0 0;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #01ab31 none repeat scroll 0 0;
}
.listarrow {
    padding: 0;
}
.listarrow li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.listarrow li i {
    color: #f6cc07;
    padding-right: 17px;
}
.column-title {
    border-bottom: 1px solid #696969;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 15px;
    position: relative;
}
.column-title::after {
    bottom: -1px;
    content: " ";
    left: 0;
    position: absolute;
    width: 40%;
}
ul.nostyle {
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 0;
}
ul.nostyle i {
    color: #45aed6;
}
.scaleIn {
    animation-name: scaleIn;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-nav > li > a {
    text-transform: uppercase;
}
@keyframes scaleIn {
0% {
    opacity: 0;
    transform: scale(0);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}
#main-nav.navbar-default {
    background: #ffffff none repeat scroll 0 0;
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: rgb(246, 204, 7) none repeat scroll 0 0;
    color: #3a3a3a;
}
.navbar.navbar-default {
    border: 0 none;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
    margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
    height: auto;
    padding: 15px 15px 1px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: transparent none repeat scroll 0 0;
    color: #f6cc07;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 600;
}
#main-nav.navbar-default {
    /*background: #3a3a3a none repeat scroll 0 0;*/
	background:maroon;
    box-shadow: 0 1px 2px rgba(40, 40, 40, 0.6);
}
.navbar-nav > li {
}
#main-nav.navbar-default .navbar-nav > li > a {
    border-top: 4px solid transparent;
    padding-bottom: 32px;
    padding-top: 32px;
}
@media only screen and (min-width: 768px) {
#main-nav.navbar-default {
}
#main-nav.navbar-default .navbar-nav > li > a {
}
.navbar-default .navbar-nav > li > a {
    color: tan;
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: teal none repeat scroll 0 0;
    border-top: 4px solid threeddarkshadow;
    color: white;
}
#main-nav.navbar-default .dropdown-menu {
    background-clip: inherit;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    min-width: 220px;
    padding: 0 20px;
}
#main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    transition: border-color 400ms ease 0s;
}
#main-nav.navbar-default .dropdown-menu > li > a {
    color: #a8a8a8;
    padding: 15px 0;
}
#main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0 none;
}
#main-nav.navbar-default .dropdown-menu > li.active, #main-nav.navbar-default .dropdown-menu > li.open, #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
}
#main-nav.navbar-default .dropdown-menu > li.active > a, #main-nav.navbar-default .dropdown-menu > li.open > a, #main-nav.navbar-default .dropdown-menu > li:hover > a {
    background-color: transparent;
    color: #45aed6;
}
}
#hero-banner {
    background: rgba(0, 0, 0, 0) url("../images/banner/banner.jpg") repeat scroll 0 0 / cover ;
    color: #fff;
    height: 700px;
    overflow: hidden;
}
#hero-banner.item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 558px;
}
#hero-banner.banner-inner {
    color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#hero-banner h2 {
    font-size: 39px;
    line-height: 49px;
    margin-top: 299px;
    text-align: right;
}
#hero-banner h2 b {
    color: #60e1bf;
}
#hero-banner p {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 20px;
    text-align: right;
}
#hero-banner a {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    display: block;
    float: right;
    margin: 0;
    width: 150px;
}
#hero-banner a:hover {
    background: #60e1bf none repeat scroll 0 0;
    border: 2px solid #60e1bf;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}
#hero-banner.banner-inner h2 > span {
    color: #45aed6;
}
#hero-banner.banner-inner .btn {
    margin-top: 10px;
}
#hero-text {
    border-top: 1px solid #ffffff;
    padding: 50px 0;
}
#hero-text h2 {
    margin-top: 0;
}
#hero-text .btn {
    margin-top: 40px;
}
#cta2 {
    background: #45b1da none repeat scroll 0 0;
    color: #fff;
    padding-top: 70px;
}
#cta2 .btn {
    margin-top: 10px;
}
#cta2 h2 {
    color: #fff;
    font-size: 44px;
    line-height: 1;
}
#cta2 h2 > span {
    color: #45aed6;
}
#pricing h2, #pricing p {
    color: #fff !important;
}
#features h2 {
    color: #c3c3c3;
}
#features {
    background: #ffffff none repeat scroll 0 0;
    color: #000;
    padding: 100px 0;
}
#features .media.service-box:first-child {
    margin-top: 80px;
}
#services, #features {
    background: powderblue none repeat scroll 0 0;
    padding: 100px 0 75px;
}
.media.service-box {
    color: #000000;
    margin: 25px 0 36px;
    padding: 20px 20px 20px 86px;
    position: relative;
}
.media.service-box .pull-left {
    margin-right: 20px;
}
.media.service-box .pull-left > i {
    bottom: -1px;
    color: #085c98;
    font-size: 35px;
    left: -13px;
    line-height: 53px;
    padding: 14px;
    position: absolute;
    text-align: center;
    top: -1px;
    transition: background-color 400ms ease 0s, background-color 400ms ease 0s;
    vertical-align: middle;
    width: 79px;
}
.media-heading {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0;
}
.demo-2 {
    margin-bottom: 10px;
    margin-top: 88px;
}
.features .media.service-box .pull-left > i {
    color: rgba(255, 255, 255, 0.68);
    font-size: 64px;
    margin-top: 10px;
    overflow: hidden;
}
.media.service-box:hover .pull-left > i {
}
#portfolio {
    background: #ffffff none repeat scroll 0 0 / cover ;
    padding: 100px 0;
}
#portfolio .portfolio-filter {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0 50px;
    padding: 0;
}
#portfolio .portfolio-filter > li {
    display: block;
    float: left;
}
#portfolio .portfolio-filter > li a {
    background: rgba(145, 145, 145, 0.29) none repeat scroll 0 0;
    border-bottom: 2px solid transparent;
    color: #4c4c4c;
    display: block;
    margin: 0 2px;
    padding: 7px 15px;
    position: relative;
}
#portfolio .portfolio-filter > li a:hover, #portfolio .portfolio-filter > li a.active {
    background: #f6cc07 none repeat scroll 0 0;
    color: #ffffff;
}
#portfolio .portfolio-items {
    margin: -15px;
}
#portfolio .portfolio-item {
    box-sizing: border-box;
    float: left;
    padding: 8px;
    width: 24.9%;
}
#portfolio .portfolio-item .portfolio-item-inner {
    position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 18px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: opacity 400ms ease 0s;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
    color: #fff;
    font-size: 16px;
    line-height: 1;
    margin: 0;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 26px;
    height: 60px;
    line-height: 36px;
    margin: 45px auto;
    padding: 10px;
    text-align: center;
    width: 60px;
}
#portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    transition-duration: 0s;
}
.isotope.infinite-scrolling {
    transition: none 0s ease 0s ;
}
.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 0;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    margin-bottom: 15px;
    max-width: 100%;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
}
#testimonial {
    background: rgba(0, 0, 0, 0) url("../images/img2.jpg") repeat scroll 0 0 / cover ;
    color: #fff;
    padding: 100px 0;
}
#testimonial h2, #testimonial p {
    color: #fff;
}
#testimonial h4 {
    color: #fff;
    margin-bottom: 8px;
}
#testimonial small {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    margin-bottom: 10px;
}
#testimonial .btns {
    margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
    background: transparent none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 8px;
}
#about {
    background: #3a3a3a none repeat scroll 0 0 / cover ;
    padding: 100px 0;
}
#about p {
    color: #fff;
}
#about h2 {
    color: #fff;
}
#about .listarrow li {
    color: #fff;
}
#our-team {
    background: #ffffff none repeat scroll 0 0;
    padding: 100px 0;
}
#our-team .team-member {
    padding: 0;
}
#our-team .team-member .team-img {
    border: 5px solid #f6cc07;
    border-radius: 40px;
    margin: 0;
    overflow: hidden;
}
#our-team .team-member .team-info {
    background: #ffffff none repeat scroll 0 0;
    border-top: 2px solid #fff;
    color: #3a3a3a;
    padding: 7px 0;
}
#our-team .team-member:hover .social-icons > li > a {
    color: #60e1bf;
}
#our-team .social-icons {
    background: #ffffff none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    padding: 6px 0;
    transition: height 1s ease 0s;
}
#our-team .social-icons > li {
    display: inline-block;
}
#our-team .social-icons > li > a {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f6cc07;
    border-radius: 50%;
    color: #f6cc07;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 5px 10px;
    text-align: center;
    width: 32px;
}
#our-team .social-icons > li > a:hover {
    background: #f6cc07 none repeat scroll 0 0;
    border: 1px solid #f6cc07;
    border-radius: 50%;
    color: #fff;
}
.testimonial-area {
    padding-bottom: 60px;
}
.single-testimonial {
    margin-bottom: 30px;
}
.single-testimonial blockquote {
    background: rgba(66, 66, 66, 0.39) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 20px;
    color: #d8d8d8;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
    padding: 15px 20px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.single-testimonial blockquote::after {
    content: "";
}
.single-testimonial img {
    border-radius: 50%;
    opacity: 0.6;
}
.single-testimonial h5 {
    color: #f6cc07;
    font-size: 16px;
    padding: 8px 0 0;
}
.progress {
    background: #eeeeee none repeat scroll 0 0;
    box-shadow: none;
}
.progress .progress-bar.progress-bar-primary {
    background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    box-shadow: none;
}
.nav.main-tab {
    background: #eee none repeat scroll 0 0;
    border-bottom: 3px solid #222534;
    border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
    color: #272727;
}
.nav.main-tab > li.active > a {
    background: #222534 none repeat scroll 0 0;
    color: #45aed6;
}
.nav.main-tab > li:first-child > a {
    border-radius: 3px 0 0;
}
.nav.main-tab > li:last-child > a {
    border-radius: 0 3px 0 0;
}
.navbar-nav {
    margin: 0;
}
.tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #eee #eee;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 20px 20px 10px;
}
.panel-default {
    border-color: #eee;
}
.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
    font-size: 14px;
    font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #eee;
}
#business-stats {
    background: #ffffff none repeat scroll 0 0 / contain ;
    color: #000;
    padding: 100px 0 70px;
}
#business-stats h1, #business-stats h2, #business-stats h3, #business-stats h4 {
    color: #151313;
}
#business-stats strong {
    color: #000;
    display: block;
    margin-bottom: 30px;
}
.business-stats {
    border: 4px solid #f6cc07;
    border-radius: 100px;
    color: #000;
    display: inline-block;
    font-size: 24px;
    height: 140px;
    line-height: 140px;
    margin-bottom: 20px;
    width: 140px;
}
#pricing {
    background: #3a3a3a none repeat scroll 0 0;
    padding: 100px 0 70px;
}
#pricing ul.pricing {
    background: #ffffff none repeat scroll 0 0;
    color: #5a5a5a;
    list-style: outside none none;
    margin: 70px 0 30px;
    padding: 8px;
    text-align: center;
}
#pricing ul.pricing li {
    display: block;
    padding: 10px;
}
#pricing ul.pricing li.plan-header {
    background: #fefefe none repeat scroll 0 0;
    border-bottom: 4px solid #f6cc07;
    color: #f4fbff !important;
    padding: 15px 15px 30px;
}
#pricing ul.pricing li.plan-header .price-duration {
    color: #474747;
    display: inline-block;
    height: 85px;
    margin-top: 15px;
    position: relative;
    top: -16px;
    width: 100%;
}
li.plan-purchase .btn {
    width: 100%;
}
#pricing ul.pricing li.plan-header .price-duration > span {
    display: block;
    line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
    margin-top: 9px;
	color:saddlebrown;
}
#pricing ul.pricing li.plan-header .plan-name {
    color: #5a5a5a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-top: 10px;
    text-transform: uppercase;
}
#pricing ul.pricing.featured {
    background: #f6cc07 none repeat scroll 0 0;
    border: 0 none;
    color: #3a3a3a;
}
#pricing ul.pricing.featured li.plan-header .price-duration {
    color: #234259;
}
#pricing ul.pricing.featured li.plan-header {
    background: transparent none repeat scroll 0 0;
    border-bottom: 4px solid #fff;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
    color: #234259;
}

#booking {
    background: olivedrab none repeat scroll 0 0;
    padding: 100px 0 70px;
}


#contact-us {
    background: #000 url("../images/map-image.png") no-repeat scroll left top;
    padding: 100px 0 10px;
}
#contact-us h1, #contact-us h2, #contact-us p {
    color: #fff;
}
.contact-info {
    background: #f6cc07 none repeat scroll 0 0;
    color: #3a3a3a;
    margin-bottom: 50px;
    padding: 50px;
}
.contact-info address {
    font-size: 15px;
    font-style: normal;
    line-height: 27px;
    margin-bottom: 20px;
}
.contact-info .form-control {
    border-radius: 0;
    padding: 6px 12px;
}
.business-stats::before {
    border: medium none currentcolor;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100px;
    margin: 17px;
    position: absolute;
    width: 100px;
}
#footer {
    background: #ffffff none repeat scroll 0 0;
    color: #0b0b0b;
    padding-bottom: 30px;
    padding-top: 30px;
}
#footer a {
    color: #000;
}
#footer a:hover {
    color: #60e1bf;
}
#footer ul {
    list-style: outside none none;
    margin: 0 -7.5px;
    padding: 0;
}
#footer ul > li {
    display: inline-block;
    padding: 3px 0;
    text-align: center;
    width: 31px;
}
.hero-action-section {
    background-image: url("../images/img2.jpg");
    color: #fff;
    padding: 60px 0;
    text-align: center;
}
.hero-action-subtitle, .hero-action-title {
    display: block;
}
.hero-action-subtitle {
    font-size: 16px;
}
.hero-action-title {
    color: #ffffff;
    font-size: 38px;
    font-weight: 900;
}
.hero-action-description {
    display: inline-block;
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 20px;
    width: 80%;
}
.get-started {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 49px;
    line-height: 49px;
    margin: 50px auto 50px 10px;
    width: 154px;
}
.get-started:hover {
    background-color: #00c1ef;
    border: medium none;
    color: #fff;
    text-decoration: none;
}
.call-us .get-started:hover {
    background-color: #000;
}
@media only screen and (min-width: 768px) {
#footer .social-icons {
    float: right;
}
}
@media only screen and (max-width: 768px) {
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #a3a3a3;
    padding: 10px 0;
}
#main-nav.navbar-default {
    background: #3a3a3a none repeat scroll 0 0;
    padding: 1px 0 15px;
}
#main-nav.navbar-default .navbar-nav > li > a {
    border-top: 4px solid transparent;
    padding-bottom: 13px;
    padding-top: 8px;
}
.navbar-default .navbar-nav > li > a {
    color: #9e9e9e;
}
}
.form-control {
    box-shadow: none;
}
@media only screen and (max-width: 480px) {
#hero-banner h2 {
    font-size: 26px;
    line-height: 40px;
    margin-top: 161px;
    padding: 10px;
}
#hero-banner p {
    font-size: 18px;
    padding: 10px;
}
#portfolio .portfolio-filter {
    list-style: outside none none;
    margin: 0 0 12px;
    padding: 0;
}
#portfolio .portfolio-filter > li a {
    display: block;
    margin: 5px 2px;
    padding: 7px 15px;
}
#portfolio .portfolio-item {
    padding: 8px;
    width: 48.9%;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
    height: 24px;
    line-height: 24px;
    margin: 9px auto;
    width: 28px;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
    padding: 7px 0 0;
}
}
